---
const { title, subtitle } = Astro.props;
---

<div class="flex">
  <div class="education__time">
    <span class="education__dot"></span>
    <span class="education__line"></span>
  </div>
  <div class="experience__data bd-grid px-5 pb-6">
    <h3 class="font-semibold mb-1">{title}</h3>
    <span class="font-light text-sm">{subtitle}</span>
    <p class="my-2 text-justify">
      <slot />
    </p>
  </div>
</div>
