---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Summary</div>
  </div>

  <div class="mb-10 text-justify">
    Highly-motivated and innovative machine learning and data science enthusiast with a strong desire to apply cutting-edge techniques to solve complex problems.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
  <TimeLineElement
    title="Master of Engineering in Engineering Science"
    subtitle="2023 to 2025 at Simon Fraser University, Vancouver, Canada"
  >
  <!-- <ul class="list-disc mx-6 mb-4 grid gap-2">
    <li>
      Courses: Machine Learning, Stochastic Systems  
    </li>
  </ul> -->
  </TimeLineElement>

    <TimeLineElement
      title="Master of Science in Artificial Intelligence & Robotics"
      subtitle="2018 to 2021 at Sharif University of Technology, Tehran, Iran"
    >
    <!-- <ul class="list-disc mx-6 mb-4 grid gap-2">
      <li>
        Project: Semi-Supervised Image Semantic Segmentation using Adversarial Networks 
      </li>
    </ul> -->
    
    </TimeLineElement>
    <TimeLineElement
      title="Bachelor of Science in Computer Engineering"
      subtitle="2014 to 2018 at Qazvin Azad University, Tehran, Iran"
    >
    </TimeLineElement>
    <!-- <TimeLineElement
      title="Title Name"
      subtitle="[start year] to [end year] at [Study Center Name], [City], [Country]"
    /> -->
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Machine Learning Engineer"
      subtitle="From 2021 to 2022 at MCI (Hamrahe-aval) R&D Center, Tehran, Iran"
    >
    <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li>
        Project: Create an easy-to-use and scalable AI platform for developing and deploying ML pipelines. 
      </li>
      <li>
        Contribution: Development, implementation, and deployment of distributed ML and CV models.
      </li>
      <li>
        Technologies: Tensorflow, Pytorch, OpenCV, Pandas, Kubernetes, Kubeflow, Docker
      </li>
    </ul>
    </TimeLineElement>

    <TimeLineElement
      title="Research Assistant"
      subtitle="From 2018 to 2021 at Image Processing Lab (SUT), Tehran, Iran"
    >
    <ul class="list-disc mx-6 mb-10 grid gap-2">
      <li>
        Investigated and enhanced utilization of Adversarial Networks in Image Segmentation
      </li>
      <li>
        Research on Transformers in Deep Learning and Computer Vision.
      </li>
      <li>
        Technologies: Pytorch, OpenCV, PIL, scikit-learn, Matplotlib
      </li>
    </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      Scored 112/120 on TOEFL iBT exam (R: 30, L: 30, S: 26, W: 26)
      <!-- <a href="#" target="_blank"> Certification Name (with link)</a> -->
    </li>
    <!-- <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li> -->
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <!-- <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>C++</li>
    <li>MATLAB</li>
    <li>SQL</li>
    <li>Tensorflow</li>
    <li>Pytorch</li>
    <li>Keras</li>
    <li>scikit-learn</li>
    <li>Spark</li>
    <li>Pandas</li>
    <li>Numpy</li>
    <li>Matplotlib</li>
    <li>Kubeflow</li>
    <li>OpenCV</li>
    <li>TorchVision</li>
    <li>Git</li>
    <li>Docker</li>
    <li>Linux</li>
    <li>Kubernetes</li>
  </ul> -->

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      Programming: Python, C++, SQL, MATLAB 
    </li>
    <li>
      Machine Learning: Tensorflow, Pytorch, Keras, scikit-learn, Spark, XGBoost, Kubeflow
    </li>
    <li>
      Data Analysis & Visualization: Pandas, Numpy, SciPy, Matplotlib, Seaborn, Grafana, Tensorboard
    </li>
    <li>
      Computer Vision: OpenCV, PIL, TorchVision
    </li>
    <li>
      DevOps: Git, Docker, Linux, Kubernetes
    </li>
</ul>

</BaseLayout>
