---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <!-- <div class="text-xl py-1">Hey there 👋</div> -->
    <div class="text-5xl font-bold">Masoud Khairi Atani</div>
    <!-- <div class="text-3xl py-3 font-bold">Machine Learning Engineer & Data Scientist</div> -->
    <div class="text-3xl py-3 font-bold"></div>
    <!-- <div class="text-3xl py-3 font-bold"></div> -->
    <div class="py-2">
      <!-- <text class="text-lg">
        I'm a passionate explorer of the world of data science and machine learning. 
        I seek to harness the power of data to drive innovation and create meaningful and lasting impact.
        This is my personal website. You can check out what projects I've been working recently. In addition, my blog, CV and contact info can be found here.
      </text> -->
      <text class="text-lg">
        I'm currently a Master's student in Engineering Science at Simon Fraser University in Vancouver under supervision of <a href="https://www.sfu.ca/~ibajic/" target="_self">Dr. Ivan Bajic</a>. I'm mainly interested in the world of data science and machine learning. I'm currently working in the field of learning-based compression for machines (coding for machines). <br><br> This is my personal website, where you can explore the recent <a href="https://masoudka.com/projects/" target="_self">projects</a> I've been working on. Additionally, you can find my <a href="https://masoudka.com/cv/" target="_self">CV</a>, and contact information here.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="mailto:masoud@masoudka.com" target="_blank"> 
        <!-- <svg xmlns="http://www.w3.org/2000/svg" 
        width="24" 
        height="24" 
        viewBox="0 0 24 24" 
        style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;">
        <path d="M20 4H6c-1.103 0-2 .897-2 2v5h2V8l6.4 4.8a1.001 1.001 0 0 0 1.2 0L20 8v9h-8v2h8c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm-7 6.75L6.666 6h12.668L13 10.75z"></path>
        <path d="M2 12h7v2H2zm2 3h6v2H4zm3 3h4v2H7z"></path>
        </svg> -->
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="fill: currentColor;transform: ;msFilter:;"
            ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M20 4H6c-1.103 0-2 .897-2 2v5h2V8l6.4 4.8a1.001 1.001 0 0 0 1.2 0L20 8v9h-8v2h8c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm-7 6.75L6.666 6h12.668L13 10.75z"
            ></path>
            <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M2 12h7v2H2zm2 3h6v2H4zm3 3h4v2H7z"
            ></path>
        </svg>
        Contact</a>
      <!-- <a href="https://github.com/manuelernestog/astrofy" target="_blank" class="btn btn-outline ml-5">
        Get This template
      </a> -->
    </div>
  </div>
  
  <!-- <div class="text-3xl w-full font-bold mb-2">My recent projects {"</>"}</div> -->
  <!-- <div>
    <div class="text-3xl w-full font-bold mb-2">Recent Projects</div>
  </div> -->

  <!-- <HorizontalCard
    title="Stock Analysis"
    img="/images/stock_analysis.png"
    desc="Analyzing stock data using python and machine learning"
    url="#"
    badge="in progress"
    github_url="https://github.com/msdkhairi/stock-analysis"
  />
  <div class="divider my-0"></div>

  <HorizontalCard
  title="Math2latex"
  img="/post_img.webp"
  desc="Converting math equations to latex code using transformers"
  url="#"
  badge="live demo"
  github_url="https://github.com/msdkhairi/math2latex"
  blog_url="https://medium.com/@msdkhairi/openai-cartpole-with-policy-gradient-acc0344f5d72"
/> -->

  <!-- <HorizontalCard
    title="Demo Project 1"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 2"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  /> -->

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>  -->

  <!-- {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
