---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div class="text-3xl w-full font-bold mb-5">Current Projects</div>
  </div>

  <HorizontalCard
    title="Compression for Machines"
    img="/images/compression_for_machines.png"
    desc="Image Compression using deep neural networks for various computer vision tasks such as classification, object detection, and segmentation (Supervisor: Dr. Ivan Bajić)"
    url="#"
    />
    <div class="divider my-0"></div>

    <HorizontalCard
    title="Diabetes Retinopathy Classification"
    img="/images/dr_classification_faisal.png"
    desc="Diabetes Retinopathy detection and classification using two different modalities: OCT(Optical Coherence Tomography) and Fundus (Supervisor: Dr. Faisal Beg)"
    url="#"
    />
    <div class="divider my-0"></div>

  <div>
    <div class="text-3xl w-full font-bold mb-5">Past Projects</div>
  </div>
  
  <!-- <HorizontalCard
    title="Stock Analysis"
    img="/images/stock_analysis.png"
    desc="Analyzing stock data using python and machine learning"
    url="#"
    badge="in progress"
    github_url="https://github.com/msdkhairi/stock-analysis"
  /> -->
  <!-- <div class="divider my-0"></div> -->

  <!-- <HorizontalCard
  title="Math2latex"
  img="/post_img.webp"
  desc="Converting math equations to latex code using transformers"
  url="#"
  badge="live demo"
  github_url="https://github.com/msdkhairi/math2latex"
  website_url="https://huggingface.co/"
/>

<div class="divider my-0"></div> -->

<HorizontalCard
title="SVM-IPM"
img="/images/svm_margin.png"
desc="Implementation of Soft margin Support Vector Machines (SVM) using Interior Point Methods: 1)Barrier method and 2)Primal-Dual method"
url="#"
blog_url="https://medium.com/@msdkhairi/svm-using-interior-point-methods-1fd0dd41aa84"
github_url="https://github.com/msdkhairi/svm-ipm"
/>
<div class="divider my-0"></div>

<HorizontalCard
title="OpenAI-Cartpole"
img="/images/openai_cartpole.png"
desc="Solving OpenAI Cartpole problem using Q-Learning and Deep Q-Networks"
url="#"
blog_url="https://medium.com/@msdkhairi/openai-cartpole-with-policy-gradient-acc0344f5d72"
github_url="https://github.com/msdkhairi/gym-cartpole-openai"
/>
<div class="divider my-0"></div>

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Projects Header</div>
  </div>

  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 4"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 5"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  /> -->
</BaseLayout>
