---
import dayjs from 'dayjs';

const today = dayjs();
const todayFormatted = today.format('MMMM YYYY');
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    <!-- &copy; {today.getFullYear()} Masoud Khairi Atani -->
    Last updated: { todayFormatted }
  </div>
</footer>
<style>

</style>
