---
import {format} from 'date-fns';

const today: Date = new Date();
const todayFormatted = format(today, 'MMMM dd, yyyy');
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    <!-- &copy; {today.getFullYear()} Masoud Khairi Atani -->
    Last updated: { todayFormatted }
  </div>
</footer>
<style>

</style>
