---
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    <li><a class="py-3 text-base" id="home" href="/"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1);transform: ;msFilter:;"><path d="M5 22h14a2 2 0 0 0 2-2v-9a1 1 0 0 0-.29-.71l-8-8a1 1 0 0 0-1.41 0l-8 8A1 1 0 0 0 3 11v9a2 2 0 0 0 2 2zm5-2v-5h4v5zm-5-8.59 7-7 7 7V20h-3v-5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v5H5z"></path>
    </svg>
        Home</a></li>
    <!-- <li><a class="py-3 text-base" id="projects" href="/projects">Projects</a></li> -->
    <!-- <li><a class="py-3 text-base" id="services" href="/services">Services</a></li> -->
    <!-- <li><a class="py-3 text-base" id="store" href="/store">Store</a></li> -->
    <!-- <li><a class="py-3 text-base" id="blog" href="/blog/">Blog</a></li> -->
    <li><a class="py-3 text-base" id="cv" href="/cv">Resume</a></li>
    <!-- <li>
        <a
            class="py-3 text-base"
            href="mailto:msdkhairi@gmail.com"
            target="_blank"
            referrerpolicy="no-referrer-when-downgrade">Contact</a
        >
    </li> -->
</ul>

<script define:vars={{ sideBarActiveItemID: sideBarActiveItemID, activeClass: activeClass }}>
const activeItemElem = document.getElementById(sideBarActiveItemID);
activeItemElem.classList.add(activeClass);
</script>
